@mixin loginStyle {
        width: 33.5rem;
		height: 6rem;
		background-color: #36cfc9;
		border-radius: 6rem;
		outline: none;
		border: none;
		color: #fff;
		font-size: 2rem;
		margin-top: 31.8rem;
};